<h1>  this is new pagefor products </h1>
<%= form_for(:product, html: {class: "ui form", role: "form"}, url: products_path) do |f| %>
        <div class="field">
          <%= f.label :name, "Product Name"%>
          <div class="ui left small icon input">
            <%= f.text_field :name, placeholder: "Product Name" %>
            <i class="th large icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :description, "Description" %>
          <div class="ui left small icon input">
            <%= f.text_area :description, placeholder: "Something about product" %>
            <i class="file alternate outline icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :catagory_id, "Catagory" %>
          <div class="ui left small icon input">
            <%= f.text_field :catagory_id, placeholder: "Catagory" %>
            <i class="file alternate outline icon"></i>
          </div>
        </div>
        <%= f.button "Sell it", class: "ui orange submit button" %>
<%end%>
